body{
    width: 500px;
    font-family: Arial;
    font-size: 12px;
    border: 1px lightgrey, solid;
    padding: 10px;
}
.bouton{
    background-color: steelblue;
    color: white;
    margin:10px;
    padding: 10px;

}

div{
    background: lightgrey;
    margin:5px;
    padding: 5px;
}
s{
    text-decoration:line-through; 
}
.input{
    display: inline;
    margin: 5px;
}
span{
    display: inline;
    margin: 5px;
}

